.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


@media (max-width: 991.98px) {
    .nav-center {
        position: static;
        transform: none;
    }
}

.btn-neon {
    background-color: #16ff90;
    color: black;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn-neon:hover {
    background-color: #4ade80;
    color: black;
}